#parte_1{
    background:#0B165A;
    color: white;
    display: flex;
    justify-content:space-around;
    padding: 10vh 0;
}
#parte_1 section h3{
    font-size: 1.5vw;
    font-weight: 500;
    padding-bottom: 2vh;
}
#parte_1 section p{
    font-family: "Readex Pro";
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}
#parte_1 section ul{
    padding-left: 1.2vw;
}
#parte_1 section ul li::marker {
    font-size: 1.1vw; 
}
#parte_1 section ul a{
    color: #D4D7E6;
    font-family: "Readex Pro";
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
@media(min-width: 600px) and (max-width: 1023px){
    #parte_1{
        justify-content: space-around;
    }
    #parte_1 section h3{
        font-size: 2vw;
    }
    #parte_1 section p{
        font-size: 1.5vw;
    }
    #parte_1 section ul a{
        font-size: 1.5vw;
    }
}
@media(min-width: 300px) and (max-width: 599px){
    #parte_1{
        justify-content: space-around;
    }
    #parte_1 section h3{
        font-size: 0.7em;
    }
    #parte_1 section p{
        font-size: 0.5em;
    }
    #parte_1 section ul a{
        font-size: 0.5em;
    }
}