#texto_ceu{
    margin-top: 10vh;
    padding-left: 2vw;
    
}
#texto_ceu  h1{
    padding-bottom: 2vh;
    font-size: 2.5em;
    background: #0B165A; 
    color: #FFF;
   
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#texto_ceu p{
    color: #FFF;
    width: 60%;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #0B165A; 
    
}
#texto_ceu button{
    margin-top: 1vh;
    padding-top: 1vh;
    height: 40px;
    min-height: 2vh;
    padding: 0.5vh 1vw;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: transparent;
    color: #06B0F4;
    border: 2px solid #06B0F4;
    border-radius: 1px 7px;
    font-size:0.9vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;  
    background: #0B165A; 
}
#texto_ceu button.move-down {
    margin-top: 1vh; 
}
@media(max-width:1440px) and (min-width:1025px){
    #texto_ceu  h1{
        padding-bottom: 2vh;
        font-size: 2.5em;
        background: #0B165A; 
        color: #FFF;
       
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    #texto_ceu p{
        color: #FFF;
        width: 60%;
        font-size: 1.3em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background: #0B165A; 
        
    }

}
@media(max-width:1024px) and (min-width:650px){
    #texto_ceu{
        padding-left: 2vw;
    }
    #texto_ceu  h1{
        padding-bottom: 2vh;
        font-size:2em;
        background: #0B165A; 
    }
    #texto_ceu p{
        color: #FFF;
        width: 70%;
        font-size: 0.8em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background: #0B165A; 
    }
    #texto_ceu button{
        height: 35px;
        font-size:1.2vw;
    }
    #texto_ceu button.move-down {
        margin-top: 1vh; 
    }
}
@media (max-width:649px) {
    #texto_ceu{
        margin-top: 8vh;
        padding-left: 4vw;
    }
    #texto_ceu  h1{
        padding-bottom: 2vh;
        font-size: 1.3em;
        background: #0B165A; 
    }
    #texto_ceu p{
        width: 90%;
        color: #FFF;
        font-size: 0.8em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background: #0B165A;  
        padding: 0 0;  
    }
    #texto_ceu button{
        height: 30px;
        font-size:2vw;
    }
    #texto_ceu button.move-down {
        margin-top: 1vh; 
    }
}